# GLOBAL CONFIG
Options +FollowSymlinks
RewriteEngine On  
  
RewriteCond %{SCRIPT_FILENAME} !-d  
RewriteCond %{SCRIPT_FILENAME} !-f 

RewriteRule ^(.*)$ ./index.html
ErrorDocument 404 /index.html
ErrorDocument 403 /index.html